.login {
  height: 100vh;

  background: url("https://cdn.pixabay.com/photo/2023/10/28/16/27/mountains-8347890_1280.jpg");

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-size: cover;
}

.loginTitle {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.loginForm > label {
  margin-top: 20px;
  font-size: 20px;
  color: gray;
}

.loginInput {
  padding: 10px;
  border: none;
  background-color: white;
}

.loginButton {
  width: 100px;
  align-self: center;
  border: none;
  padding: 10px 10px;
  background-color: lightcoral;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.loginButton:disabled {
  background-color: lightgray;
  color: rgb(215, 0, 0);
  cursor: not-allowed;
}

.loginRegisterButton {
  width: 100px;
  top: 60px;
  right: 20px;
  position: absolute;
  border: none;
  padding: 10px 10px;
  background-color: teal;
  color: white;
  font-weight: 600;
  border-radius: 10px;

  cursor: pointer;
}
